<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.os.dao.UserRepository">
    <insert id="registerAccount" statementType="PREPARED">
        insert into user (username, password, money, email) values (#{username}, #{password}, 0, #{email})
    </insert>

    <select id="userLoginIn" resultType="String">
        select password from user where username = #{username}
    </select>

    <update id="rechargeAccount" statementType="PREPARED">
        update user set money = #{money} where username = #{username}
    </update>

    <select id="checkMoney" resultType="Long">
        select money from user where username = #{username}
    </select>

    <update id="updatePassword" statementType="PREPARED">
        update user set password = #{password} where username = #{username}
    </update>

    <select id="checkEmailExists" resultType="Long">
        select count(*) from user where email = #{email}
    </select>

    <select id="findPassword" resultType="String">
        select password from user where email = #{email}
    </select>

</mapper>